.app {
  margin-left: 20px;
}

.app h1 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.date-picker-container {
  display: flex;
}

.start-date-container {
  margin-right: 10px;
}

.react-datepicker-wrapper {
  width: auto !important;
}

.react-datepicker__input-container input {
  width: 75px;
}

.react-datepicker {
  border: none !important;
  max-width: 755px;
}

.react-datepicker__header {
  border-bottom: none !important;
  background-color: #fff !important;
}

.react-datepicker__navigation--next {
  left: 200px !important;
}

.react-datepicker__month-container {
  height: 260px;
  border-top: 1px solid #aeaeae !important;
  border-right: 1px solid #aeaeae !important;
}

.react-datepicker__day-name {
  color: red !important;
}

.react-datepicker__day--highlighted-custom-1 {
  border-radius: 0.3rem !important;
  background-color: red !important;
  color: #fff !important;
}

.react-datepicker__day--highlighted-custom-2 {
  border-radius: 0.3rem !important;
  background-color: green !important;
  color: #fff !important;
}

.react-datepicker__day--highlighted-custom-3 {
  border-radius: 0.3rem !important;
  background-color: orange !important;
  color: #fff !important;
}
